

header {
    background: rgb(238, 235, 81);
    opacity: 0.9;
    text-align: center;
}

.header-box {
    position: relative;
    height: 120px;
    width: 90%;
    margin: 0 auto auto;
    text-align: left;
}

.header-application-logo {
    display: inline-block;
    width:50%;
    height:80px;
    padding: 10px 0 0 0;
}

.header-application-logo img {
    max-width: 100%;
    max-height: 100%;
}

.header-application-user {
    display: inline-block;
    width: 45%;
    text-align: right;
}

header nav {
    display: block;
    text-align: center;
}


header nav li {
    display: inline-block;
    margin: 0 5px 0 5px;
    transition: 700ms;
}

header nav ul li:hover {
    color:blue;
    cursor: pointer;
    font-size: 1.1em;
}

main {
    background: #fefefe;
    margin: 10px 10px;
}

main h2 {
    font-size: 2em;
    font-weight: bold;
}

.dashboard {
    display: inline-block;
    margin: 10px 10px;
    min-height: 0px;
    border: solid 6px rgb(210, 212, 54);
    border-radius: 10px;
}

footer {
    background: rgb(238, 235, 81);
    opacity: 0.9;
}

.copyright {
    font-size: 0.8em;
    text-align: center;
}
